<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>    
    <h1>Vue3 Learning</h1>

<div id="app">

    <div v-if="showBook">
        <div v-for="book in books">
            <p>Book name - {{book.title}}</p>
            <p>author - {{book.author}}</p>
            <p>author age - {{book.age}}</p><hr>
            <!-- <a v-bind:href="{{link}}">Google</a> -->
            
        </div>
        
        
    </div>
    
    <button @click="showBook=!showBook">
        <span v-if="showBook">Hide</span>
        <span v-if="!showBook">Show</span>
    </button>

   
</div>

<br><br>
<div id="link">


    <a :href="link">Google</a>


</div>


    <script src="app.js"></script>
</body>
</html>